<div class="uk-text-center" *ngIf="this.pages > 1">
    <button class="uk-button uk-button-default uk-margin-small-left uk-margin-small-right" [disabled]="this.page.index <= 1" (click)="this.change(1)">First</button>
    <button class="uk-button uk-button-default uk-margin-small-left uk-margin-small-right" [disabled]="this.page.index <= 1" (click)="this.change(this.page.index - 1)">Previous</button>
    <span>{{this.page.index}} of {{pages}}</span>
    <button class="uk-button uk-button-default uk-margin-small-left uk-margin-small-right" [disabled]="this.page.index >= this.pages" (click)="this.change(this.page.index + 1)">Next</button>
    <button class="uk-button uk-button-default uk-margin-small-left uk-margin-small-right" [disabled]="this.page.index >= this.pages" (click)="this.change(this.pages)">Last</button>
</div>
