<div class="watt-flex-center watt-container">
    <form [formGroup]="form" class="watt-form">
        <fieldset>
            <div class="watt-form-group">
                <app-label for="login" text="Login"></app-label>
                <app-input-text formControlName="login" text="Login" [autofocus]="true"></app-input-text>
            </div>

            <div class="watt-form-group">
                <app-label for="password" text="Password"></app-label>
                <app-input-password formControlName="password" text="Password"></app-input-password>
            </div>

            <div class="watt-text-center">
                <app-button text="Sign in" [disabled]="form.invalid" (click)="auth()"></app-button>
            </div>
        </fieldset>
    </form>
</div>
