<nav>
    <ul>
        <li routerLinkActive="nav-active">
            <a routerLink="/main/home">Home</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/main/validate">Validate</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/main/form">Form</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/main/service">Service</a>
        </li>
        <li routerLinkActive="nav-active">
            <a routerLink="/main/upload">Upload</a>
        </li>
        <li>
            <a (click)="signOut()">Sign out</a>
        </li>
    </ul>
</nav>
