<div class="watt-uploader-container">
    <input
        type="file"
        multiple
        hidden
        #input
        [disabled]="disabled"
        [id]="formControlName"
        [name]="formControlName"
        (change)="change(input.files)"
    >

    <watt-button
        variant="secondary"
        type="button"
        (click)="input.click()"
    >
        {{ text || 'Select' }}
    </watt-button>
</div>

<div>
    <ul>
        @for (file of files; track file.name) {
            <li class="watt-text-warning">{{ file.name }}: {{ file.progress }}%</li>
        }
        @for (file of value; track file.name) {
            <li class="watt-text-success">{{ file.name }}</li>
        }
    </ul>
</div>
