<h2>Form</h2>

<div class="watt-form-actions watt-space-bottom-m">
    <app-button text="Set" (click)="set()"></app-button>
    <app-button class="watt-space-left-m" [text]="disabled ? 'Enable' : 'Disable'" (click)="disabled = !disabled"></app-button>
</div>

<form [formGroup]="form">
    <fieldset [disabled]="disabled">
        <div class="watt-form-group">
            <app-label for="userId" text="User"></app-label>
            <app-select-user formControlName="userId" [child]="post" text="User"></app-select-user>
        </div>

        <div class="watt-form-group">
            <app-label for="postId" text="Post"></app-label>
            <app-select-post formControlName="postId" [child]="comment" #post text="Post"></app-select-post>
        </div>

        <div class="watt-form-group">
            <app-label for="commentId" text="Comment"></app-label>
            <app-select-comment formControlName="commentId" #comment text="Comment"></app-select-comment>
        </div>

        <div class="watt-space-top-m">
            <pre>{{ form.value | json }}</pre>
        </div>
    </fieldset>
</form>
